<mat-card appearance="outlined" style="width: 30rem">
  <mat-card-header>
    <h1>Login</h1>
  </mat-card-header>

  <mat-card-content>
    <form
      class="example-form"
      style="display: flex; flex-direction: column"
      [formGroup]="loginForm"
      (ngSubmit)="proceedLogin()"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>

      <div style="display: flex; gap: 10px">
        <button mat-raised-button color="primary">Login</button>
        <a routerLink="/register" mat-raised-button color="accent">New User</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
